#app_main {
   height: 100vh;
   background-image: url('https://wallpapers.com/images/hd/ppt-background-zdyi9yr4xypdgh07.jpg');
   background-size: cover;
}

.images img:not(.active) {
   display: none;
}

.up {
   top: 3%;
   left: 50%;
   transform: translate(-50% , -0);
}

.down {
   bottom: 3%;
   left: 50%;
   transform: translate(-50% , -0);
}

